@import '../../styles/partials.scss/breakpoints';

.signup{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

  &__quote{
    text-align: center;
  }
}

.form__error{
  border: 2px solid rgb(209, 35, 35);
}
