@import '../../styles/partials.scss/breakpoints';

.hero{
  &__image{
    background-image: url("../..//src/assets/images/hero-image.png");
    object-fit: contain;
    object-position: center;
    height: 13rem;
    width: 100%;
    position: relative;
    margin: 1rem 0;
  }
  
  &__text{
    position: absolute;
    font-size: 1.5rem;
    top: 20%;
    left: 5%
  }

  &__gif{
    border-radius: 100%;
    border: none;
    opacity: 0;
    animation: fade-in-planet 2s;
    animation-delay: 800ms;
    animation-fill-mode: forwards;

    &--container{
      display: flex;
      justify-content: center;
      width: 100%;

      @include tablet{
        margin: 3rem 0;
      }
    }
  }
}

.header{

  text-align: center;
  margin-bottom: 0.5rem;

  @include desktop{
    margin: 3rem 0;
  }

  @include desktop {
    font-size: 3rem;
  }
  opacity: 0;

  &__one{
    animation: fade-in-one 2s;
    animation-delay: 550ms;
    animation-fill-mode: forwards;
  }

  &__two{
    animation: fade-in-two 4s;
    animation-delay: 600ms;
    animation-fill-mode: forwards;

  }
  &__three{
    animation: fade-in-three 5s;
    animation-delay: 600ms;
    animation-fill-mode: forwards;
  }
}
@keyframes fade-in-planet {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 0.6;
  }
}
@keyframes fade-in-one {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
@keyframes fade-in-two {
  0%{
    opacity: 0;
  }
  50%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
@keyframes fade-in-three {
  0%{
    opacity: 0;
  }
  80%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

.enterance{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  padding: 1rem;

  @include tablet {
    flex-direction: row;
  }

  @include desktop {
    padding: 0 20vw;
  }

  &__card{
    border: 1px solid black;
    height: 10rem;
    width: 15rem;
    padding: 1rem;
    margin: 1rem;
    border-radius: 0.5rem;

    @include desktop {
      height: 15rem;
      width: 20rem;
      padding: 2rem;
      margin: 4rem;
    }
    
  }
  &__anonymous{
    background-color: black;
    color: white;
  }

  &__known{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: beige;

  }
}

.ellpses{
  margin-top: 3rem;
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 0.75rem

}

.ellpsis{
  width: 0.5rem;
  height: 0.5rem;
  background-color: grey;
  border-radius: 1rem;
  opacity: 0;

  &__one{
    animation: blink 1400ms 6000ms ease-in-out infinite;
  }
  &__two{
    animation: blink 1400ms 6333ms ease-in-out infinite;
  }
  &__three{
    animation: blink 1400ms 6666ms ease-in-out infinite;
  }
}

@keyframes blink {
  0%{
    opacity: 0;
    scale: (.8);
  }
  20%{
    opacity: .9;
    scale: (1);
  }
  60%{
    opacity: 0;
    scale: (1);
  }
  100%{
    opacity: 0;
    scale: (1);
  }
}

