.add-comment{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  
  &__form{
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #E4F1E4;
    padding: 1rem;
  
  }
  
  &__label{
    font-weight: bold;
    font-size: 1.2rem;
    color: black;
    text-align: center;
  }
  
  &__comment{
    font-size: 2rem;
    font-weight: bold;
    margin: 1rem 0;
    min-width: 10rem;
    border: none;
    outline: none;
    &:focus{
      border: 2px solid gold;

    }
  }

  &__submit{
    border: 3px solid blueviolet;
    border-radius: 0.5rem;
    background-color: blueviolet;
    color: white;
    padding: 0.25rem 0.5rem;

    &:hover{
      border: 3px solid gold;
      background-color: purple;
    }
  }

  &__set-background{
    background-color: black;
    border: none;
    border-radius: 0.25rem;
    color: azure;
    padding: 0.25rem;
    font-size: 0.8rem;
    margin: 0.25rem;

    &:hover{
      color: gold;
    }
  }


}