@import '../../styles/partials.scss/breakpoints';

.edit{

  width: 100vw;
  background: linear-gradient( to top, #b0d8b0, #EEF4ED) ;

  @include tablet {
    height: 100%;
    width: 96vw;
    margin: 2vh 2vw;
  }


  &__wrapper{
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-left: 1rem dashed rgb(106, 121, 106);
    border-right: 1rem dashed rgb(106, 121, 106);
    margin: 0 8vw;
    padding: 0 4vw;
  }
  
  &__nav{
    display: flex;
    justify-content: space-between;
  }
  &__heading{
    font-size: 1.2rem;
    @include tablet{
      font-size: 2rem;
    }

    &--view{
      text-align: center;
      border: 1px solid black;
      margin: 0.5rem 30%;
      padding: 0.5rem 1rem;
      border-radius: 1rem;
      background-color: chocolate;

      &:hover{
        background-color: burlywood;
      }

      &:active{
        opacity: 0.8;
        color: white;
      }
    }

  }

  &__form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 1rem 0;
    width: 100%;
    padding: 0 1rem;

    &--profile{
      align-items: center;
    }

  }

  &__profile{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: 1rem;
    
    
    @include tablet {
      margin-bottom: 1rem;
      flex-direction: row;
      padding: 2rem;
      justify-content: space-around;
    }
    
    @include desktop{
      border: 0.25rem solid rgb(106, 121, 106);
      padding: 2rem 8rem;
    }

    &--text{
      display: flex;
      flex-direction: column;
    }
  }


  input[type="file"] {
    display: none;
  }

  &__avatar{
    width: 15rem;  
    height: 13rem;
    padding: 1rem;
    border-radius: 1rem;
    object-fit: cover;
    object-position: 25%;
    border: 4px solid black;
    background: linear-gradient( to bottom, #b0d8b0, #EEF4ED) ;


    &--section{
      display: flex;
      flex-direction: column;
      align-items: center;

      @include tablet{
        margin-right: 2rem;
      }
    }

      &--upload{
        font-size: 1.4rem;
        margin: 0.5rem 0;
        background-color: chocolate;
        color: black;
        padding: 0.5rem;
        width: 14rem;
        border-radius: 0.25rem;
        border: 2px solid black;
        text-align: center;

        &:hover{
          cursor: pointer;
          background-color: burlywood;
        }
      }
  }
    
  &__input{
    font-size: 2rem;
    padding: 0.25rem;
    margin: 0.25rem 0;
    background-color: white;
    border-radius: 0.5rem;
    border: 3px solid black;
    resize: none;
    
    &--username{
      
      width: 15rem;

      @include tablet{
        width: 15rem
      }
    }

    &--description{
      height: 8rem;
      width: 100%;
    }

    &:focus{
      outline: none;
      border: 3px solid gold;
    }

  }

  &__textarea{
    resize: none;
    height: 6rem;
    width: 100%;
    border: 3px solid black;
    font-size: 2rem;

    &:focus{
      outline: none;
      border: 3px solid gold;
    }

  }
  
  &__label{
    font-size: 1.4rem;
    margin: 0.25rem 0;
    max-width: 16rem;
    font-weight: 700;

  }

  &__button{
    background-color: black;
    color:white;
    padding: 0.5rem 0.25rem;
    font-size: 1rem;
    border-radius: 1rem;

    @include tablet{
    width: 14rem;
    font-size: 1.5rem;
    }

    &:hover{
      cursor: pointer;
      background-color: grey;
    }

    &:active{
      background-color: #b0d8b0;
      border: 2px solid gold;
    }
  }
}