@import '../../styles/partials.scss/breakpoints';

.login{
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

  &__form{
    @include tablet {
      width: 30rem
    }
  }
}
