@import '../../styles/partials.scss/breakpoints';

.map{
  position: relative;
  
  &__footer{
    height: 5vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    background-color: lightsalmon;
  }

  &__post{
    color: white;
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 5rem;
    width: 5rem;
    border: 0;
    border-radius: 50%;
    z-index: 1000;
    position: absolute;
    margin: 1rem;
    bottom: 1.25rem;
    right: 1.25rem;

    @include tablet {
      width: 6rem;
      margin: 2rem;
    }

    &--shrink{
      top:1.25rem;
      animation: shrink 1s;
    }

    &--slide{
      animation: slide 1400ms ease-out;
    }
  }
  
  &__link{
    font-weight: bold;
    color: black;
    font-size: 1rem;
    padding: 1rem;
    background-color: lightsalmon;
    border: 1px solid black;

    &:hover{
      border: 1px solid gold;
      color: beige;
    }

    &:focus{
      animation: button 1s;
    }
  }

  &__popup{
    width: 10rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: lightcyan;
    color: #333333;
    border: 1px solid black;
    padding: 0.25rem;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    
    @include tablet{
      width: 20rem;
    }
    @include desktop{
      width: 25rem;
    }
  }

  &__comment{
    font-weight: 700;

    @include tablet{
      font-size: 1.5rem;
      padding: 0.5rem;

    }
    @include desktop{
      font-size: 2rem;
      padding: 1rem;

    }
  }

  &__precision{
    position: absolute;
    bottom: 1rem;
    background-color: rgb(90, 179, 90);
    z-index: 1000;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    padding: 0.25rem;
    border: 2px solid black;

    @include tablet {
      margin: 2rem;
    }

    &--button{
      background-color: lightslategray;
      border: none;
      font-size: 1.5rem;
      width: 100%;
      margin: 0.25rem;
    }
  }

}





@keyframes shrink {
  100%{
    scale: 0;
  }
}

@keyframes slide {
  0%{
    bottom: 1.25rem;
  }
  70%{
    scale: (1);
  }
  100%{
    scale: (.8);
    bottom: 80%;
  }
}

@keyframes button {
  0%{
    background-color: aqua;
  }
  50%{
    background-color: aqua;
  }
  100%{
    background-color: lightsalmon;
  }
}